%h2 bundle package

.contents
  .bullet
    .description
      Locks and then caches the gems into <code>./vendor/cache</code>.
    :code
      $ bundle package [--all] [--all-platforms] [--gemfile=GEMFILE] [--no-prune]
                       [--path=PATH] [--quiet]
    .notes
      %p
        Options:
      %p
        <code>--all</code>: package <code>:git</code>, <code>:path</code>, and <code>.gem</code> dependencies. Once used, the <code>--all</code> option will be remembered.
      %p
        <code>--all-platforms</code>: package dependencies for all known platforms, not only the one that <code>bundle package</code> is run on. This option will be remembered in your local Bundler configuration.
      %p
        <code>--gemfile</code>: Use the specified gemfile instead of Gemfile.
      %p
        <code>--no-install</code>: Don't actually install the gems, just package.
      %p
        <code>--no-prune</code>: Don't remove stale gems from the cache.
      %p
        <code>--path</code>: Specify a different path than the system default.
      %p
        <code>--quiet</code>: Only output warnings and errors.
    .description
      %p
        The package command will copy the <code>.gem</code> files for your gems in the
        bundle into <code>./vendor/cache</code>. Afterward, when you run <code>bundle install</code>, Bundler will use the gems in the cache in preference to the ones on rubygems.org.

      %p
        Additionally, if you then check that directory into your source control repository, others who check out your source will be able to install the bundle without having to download any additional gems.

  .bullet
    .description
      Lock and cache gems from RubyGems into <code>./vendor/cache</code>.

    .how
      :code
        $ bundle package

    .notes
      %p
        By default, if you simply run <code>bundle install</code> after running
        <code>bundle package</code>, Bundler will still connect to rubygems.org to check
        whether a platform-specific gem exists for any of the gems in <code>vendor/cache</code>.

      %p
        This behavior can be avoided by instead running <code>bundle install --local</code>.
        Note that this requires you to have the correctly platformed version for all of your gems
        already cached. The easiest way to achieve this is to run <code>bundle package</code>
        on an identical machine and then check in those vendored gems.

  .bullet#no-prune
    .description
      Lock and cache gems from RubyGems into <code>./vendor/cache</code>, and don't remove any stale gems from the existing cache.

    .how
      :code
        $ bundle package --no-prune

  .bullet#all
    .description
      Lock and cache all gems into <code>./vendor/cache</code>, including <code>:git</code>, <code>:path</code>, and <code>.gem</code> dependencies.

    .how
      :code
        $ bundle package --all
    .notes
      %p
        Once used, the <code>--all</code> option will be remembered.

      %p
        This will be the default on Bundler 2.0.
