%h2 bundle open

.contents
  .bullet
    .description
      Opens the source directory of the given bundled gem
    :code
      $ bundle open GEM
    .description
      %p
        Opens the source directory of the provided GEM in your editor. For this to
        work the `EDITOR` or `BUNDLER_EDITOR` environment variable has to be set.
