---
title: bundle plugin
description: bundle-plugin allows you to manage Bundler plugins.
---
%h1 bundle plugin

%p
  Manual of bundle-plugin for Bundler 2.1 is in preparation. See the latest version of bundle-plugin(1) until then.

%p
  = link_to "bundle-plugin(1) for Bundler 2.3", "../v2.3/bundle_plugin.html"
