---
title: bundle version
description: Prints the bundler's version information
---
%h1 bundle version

.contents
  .bullet
    .description
      Prints the bundler's version information
    :code
      $ bundle version
