%h2 bundle install

.contents
  .bullet
    .description
      Make sure all dependencies in your Gemfile are available to your application.
    :code
      $ bundle install [--system]
    .notes
      %p
        Gems will be installed to your default system location for gems. If your
        system gems are stored in a root-owned location (such as in Mac OSX),
        bundle will ask for your root password to install them there.
      %p
        While installing gems, Bundler will check <code>vendor/cache</code> and then
        your system's gems. If a gem isn't cached or installed, Bundler will try to
        install it from the sources you have declared in your Gemfile.
      %p
        The <code>--system</code> option is the default. Pass it to switch back after
        using the <code>--path</code> option as described below.

  .bullet
    .description
      Install your dependencies, even gems that are already installed
      to your system gems, to a location other than your system's gem
      repository. In this case, install them to <code>vendor/bundle</code>.
    .how
      :code
        $ bundle install --path vendor/bundle
      .notes
        Further <code>bundle</code> commands or calls to <code>Bundler.setup</code> or
        <code>Bundler.require</code> will remember this location.
      = link_to("Learn More: Bundler.setup", "./bundler_setup.html")
      = link_to("Learn More: Bundler.require", "./groups.html")

  .bullet
    .description
      Install all dependencies except those in groups that are explicitly excluded.
    :code
      $ bundle install --without development test
    = link_to("Learn More: Groups", "./groups.html")

  .bullet
    .description
      Install all dependencies on to a production server.
      Do <b>not</b> use this flag on a development machine.
    :code
      $ bundle install --deployment
    .notes
      %p
        The <code>--deployment</code> flag activates a number of deployment-friendly
        conventions:

      %ul
        %li Isolate all gems into <code>vendor/bundle</code>
        %li Require an up-to-date <code>Gemfile.lock</code>
        %li
          If <code>bundle package</code> was run, do not fetch gems
          from rubygems.org. Instead, only use gems in the checked
          in <code>vendor/cache</code>
    = link_to("Learn More: Deploying", "./deploying.html")
