%h2 bundle package

.contents
  .bullet
    .description
      Package up all your .gem files in vendor/cache
    :code
      $ bundle package

  .bullet
    .description
      Running bundle install in an application with
      packaged gems will use the gems in the package
      and skip connecting to rubygems.org
    .how
      :code
        $ bundle install --local
      .notes
        You can use this to avoid a dependency on
        rubygems.org at deploy time, or if you
        have private gems that are not in a public
        repository
