%h2 Using Bundler with Sinatra

.contents
  .bullet
    .description
      Let's say you wanted to run the following Sinatra app.
    :code
      # lang: ruby
      class MySinatraApp < Sinatra::Base
        get "/" do
          "Hello Bundler"
        end
      end
      
  .bullet
    .description
      To use bundler with a Sinatra application, you only need to do two things. First, create a Gemfile.
    :code
      # lang: ruby
      source "https://rubygems.org"
      gem "sinatra", :require => "sinatra/base"

  .bullet
    .description
      Then, set up your config.ru file to load the bundle before it loads your Sinatra app.
    :code
      # lang: ruby
      require 'rubygems'
      require 'bundler'

      Bundler.require

      require './my_sinatra_app'
      run MySinatraApp

  .bullet
    .description
      Start your development server with rackup, and Sinatra will be loaded via Bundler.
    :code
      $ rackup
