%h2 bundle gem

.contents
  .bullet
    .description
      Creates a skeleton for creating a rubygem
    :code
      $ bundle gem GEM [--bin or -b] [--test=TESTFRAMEWORK] [--edit=TEXTEDITOR] [--ext]
    .notes
      %p
        Options:
      %p
        <code>--bin or -b</code>: Generate a binary for your library.
      %p
        <code>--edit</code>: Opens generated gemspec with specified or default
        text editor set BUNDLER_EDITOR, EDITOR or VISUAL env variables.
      %p
        <code>--ext</code>: Generate a skeleton for a C-extension.
      %p
        <code>--test</code>: Generate a test directory for your library:
        'rspec' is the default, but 'minitest' is also supported.
