.container.guide
  = partial "shared/whats_new"

  %p
    The
    = link_to 'Bundler 2.3 announcement', '/blog/2022/01/23/bundler-v2-3.html'
    includes context and a more detailed explanation of the changes in this version. This is a summary of the biggest changes. As always, a detailed list of every change is provided in
    == #{link_to "the changelog", "https://github.com/rubygems/rubygems/blob/3.3/bundler/CHANGELOG.md"}.

  %h3 Bundler Version Locking
  .contents
    .bullet
      .description
        %p
          Bundler is now able to lock itself! The Bundler version used to
          create <code>Gemfile.lock</code> will be used for all future runs of
          <code>bundle install</code>. Upgrade Bundler for your app by running
          <code>bundle update --bundler</code>. (Requires RubyGems 3.3 or
          higher.)

  %h3 Other improvements
  .contents
    .bullet
      .description
        %p
          Bundler 2.3 also includes other improvements like enhancements
          <code>bundle gem</code> or <code>bundle add</code>, and deprecation
          messages to make dropping support for old rubies in the future
          smoother.

      = link_to 'Full 2.3 changelog', 'https://github.com/rubygems/rubygems/blob/3.3/bundler/CHANGELOG.md', class: 'btn btn-primary'
