%h2 bundle binstubs

%p
  Installs the binstubs of the listed gem
:code
  $ bundle binstubs [GEM] [--force] [--path=PATH]
%p
  %b Options:
%p
  <code>--force</code>: Overwrite existing binstubs if they exist.
%p
  <code>--path</code>: Binstub destination directory (default bin)
%p
  Generate binstubs for executables in [GEM]. Binstubs are put into bin,
  or the --binstubs directory if one has been set.
