%h2 bundle platform

.contents
  .bullet
    .description
      Displays platform compatibility information
    :code
      $ bundle platform [--ruby]
    .notes
      %p
        Options:
      %p
        <code>--ruby</code>: only display ruby related platform information

  .bullet
    .description
      When not passed any options, platform will display information from your <code>Gemfile</code>, <code>Gemfile.lock</code>, and Ruby VM about your platform. You'll see output like the following:
    :code
      $ bundle platform
      Your platform is: x86_64-linux

      Your app has gems that work on these platforms:
      * ruby

      Your Gemfile specifies a Ruby version requirement:
      * ruby 1.9.3

      Your current platform satisfies the Ruby version requirement.
    .description
      When the <code>ruby</code> directive doesn't match the running Ruby VM, it will tell you what part does not.
    :code
      Your Ruby version is 1.9.3, but your Gemfile specified 1.8.7

  .bullet#ruby
    .description
      When using the <code>--ruby</code> flag, it will just display the <code>ruby</code> directive information, so you don't have to parse it from the Gemfile.
    :code
      $ bundle platform --ruby
      ruby 1.9.3 (jruby 1.6.7)
