%h2 bundle install

.contents
  .bullet
    .description
      Make sure all dependencies in your Gemfile are
      available to your application.
    .how
      :highlight_plain
        $ bundle install
      .notes
        Gems may be installed to system gems or <code>BUNDLE_PATH</code>
        (which defaults to <code>~/.bundle</code>). Git repos will
        be checked out into to <code>BUNDLE_PATH</code> as well.

  .bullet
    .description
      Install your dependencies, even gems that are already installed
      to your system gems, to a location other than <code>BUNDLE_PATH</code>.
      In this case, all gems will be installed to <code>vendor/bundle</code>.
    .how
      :highlight_plain
        $ bundle install vendor/bundle
      .notes
        Further bundle commands or calls to Bundler.setup or Bundler.require will
        remember this location.
      = link("Learn More: Bundler.setup", "./bundler_setup.html")
      = link("Learn More: Bundler.require", "./groups.html")

  .bullet
    .description
      Install all dependencies except those in groups
      that are explicitly excluded.
    :highlight_plain
      $ bundle install --without development test
    = link("Learn More: Groups", "./groups.html")

  .bullet
    .description
      Install all dependencies to <code>vendor/bundle</code>, using cached gems in
      <code>vendor/cache</code> if they are present.
    :highlight_plain
      $ bundle install --deployment
    = link("Learn More: Deploying", "./deploying.html")
