%h2 Using Bundler with Rubygem gemspecs

/ TODO: write this section, using Gemfile's #gemspec method
/.contents
/  .bullet
/    .description
/      If you already have a gem with a gemspec, you can generate a Gemfile for your gem.
/    .how
/      :highlight_plain
/        $ bundle init --gemspec
/      .notes
/        If you are creating a new gem, simply create a new Gemfile.
/
/  .bullet
/    .description
/      Gems in the default group are regular dependencies, and gems in the :development group are
/      development dependencies. Gems in other groups will not be included in the gemspec.
/    :highlight_ruby
/      source :rubyforge
/      gem "json"
/
/      group :development do
/        gem "rspec"
/      end
/    
/      group :debugging do
/        gem "ruby-debug"
/        gem "awsome_print"
/      end
/
/  .bullet
/    .description
/      Inside your gemspec, load bundler and replace all of the dependency calls with a single call to 
/      \#add_bundler_dependencies.
/    :highlight_ruby
/      require 'bundler'
/      Gem::Specification.new do |s|
/        # [...]
/        s.add_bundler_dependencies
/      end
/  
/  .bullet
/    .description
/      That's it! You can now build your gem.
/    :highlight_plain
/      $ gem build my_gem.gemspec
/