%h2 bundle inject

.contents
  .bullet
    .description
      Add the named gem(s), with version requirements, to the resolved Gemfile
    :code
      $ bundle inject [GEM] [VERSION]

  .bullet
    .description
      When injecting a gem, it adds it to both your Gemfile and Gemfile.lock if
      it doesn't yet exist in them. Example below:
    :code
      $ bundle install

      $ bundle inject 'rack' '> 0'
      # Injects rack gem greater than version 0 in your Gemfile and Gemfile.lock
