%h2 bundle exec

.contents
  .bullet
    .description
      Run the command in context of the bundle
    :code
      $ bundle exec [--keep-file-descriptors]
    .notes
      %p
        Options:
      %p
        <code>--keep-file-descriptors</code>: For Ruby versions less than 2.0,
        keeps non-standard file descriptors on Kernel#exec

    .description
      Exec runs a command, providing it access to the gems in the bundle. While using
      bundle exec you can require and call the bundled gems as if they were installed
      into the systemwide RubyGems repository.
