%h2 bundle clean

.contents
  .bullet
    .description
      Cleans up unused gems in your bundler directory
    :code
      $ bundle clean [--dry-run] [--force]
    .notes
      %p
        Options:
      %p
        <code>--dry-run</code>: Only print out changes, do not actually clean
        gems
      %p
        <code>--force</code>: Forces clean even if --path is set
