%h2 bundle clean

.contents
  .bullet
    .description
      Cleans up unused gems in your bundler directory
    :code
      $ bundle clean [--force]
    .notes
      %p
        Options:
      %p
        <code>--force</code>: forces clean even if --path is set
