.docs {
  h4 {
    color: #06456A;
  }

  a {
    color: black;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
  }

  h3, h4 {
    text-align: center;
  }

  li {
    text-align: left;
    
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  .ul-padding {
    @media (min-width: $screen-lg-min) {
      padding-left: 50px;
    }
  }

  .centered li {
    text-align: center;
  }

  .thumbnail {
    img {
      max-width: 200px;
    }
  }
}

.commands {
  pre {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}