/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 200px;
$footer-color: #55BCEB;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 0px;
  padding-top: 5px;

  .row {
    background-color: $footer-color;
  }

  .footer-logo {
    float: right;
    max-height: $footer-height;
    padding: 5px;
  }

  #ruby-together-cta {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 220px;
    text-align: left;
    height: 150px;
    background-image: url("/images/ruby_together_logotype_200.png");
    background-repeat: no-repeat;
    clear: both;
    width: 80%;
  }

  #ruby-together-cta a {
    color: #DBEAF3;
  }

  ul {
    height: 25;
    display: inline-block;
    float: none !important;
    vertical-align: top;
    margin-bottom: 0;
    text-align: center;

    li {
      height: 100%;
      display: inline-block;

      a {
        line-height: 48px;
        color: black;
      }

      a:hover, a:active, a:focus {
        background-color: inherit;
      }
    }
  }
}
/* Sticky footer styles
-------------------------------------------------- */
