// Containers
.site {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cell {
  display: flex;
  flex: 1 0 auto;
  // padding: 1.5em;
  flex-direction: column;
  // padding: 1.5em 1.5em 0;
  // width: 100%;
}

.site-content {
  flex: 1 0 auto;
  width: 100%;
}

.section {
  padding: 1.5em;

}

// .section:nth-child(2n) {
//   background-color: rgba($subhead-color,0.1);
// }

.container {
  max-width: 50em;
  margin: 0 auto;
  // padding: 1.5em 1.5em 0;
}

.article-content {
  padding: 1.5em;
}
