.navbar-nav.navbar-right:last-child {
  margin-right: 0 !important;
}

.navbar-brand {
  font-size: 32px;
}

.navbar {
  margin-bottom: 0;
}

.select-height  {
  height: 50px;
}

.translation_select_height {
  line-height: 56px;
}