// Variables
// Typography
$base-font-family: "Open Sans", Helvetica, sans-serif;
$base-font-mono: "Source Code Pro", Monaco, monospace;
$link-color: #0e3f54;

$header-color: #346b8c;
$subhead-color: #0e3f54;

$base-border-radius: 5px;
