// -- Variables --

// Typography
$base-font-family: "Open Sans", Helvetica, sans-serif;
$base-font-mono: "Source Code Pro", Monaco, monospace;
$link-color: #00486a;

// Colors
$dark-blue: #00486a;

// Background Color
$color-bg: #fff;


// $header-color: #346b8c;
$subhead-color: #00486a;

$base-font-color: #333333;

$base-border-radius: 5px;

// Buttons
$button-bg-color: #00b0e2;
