/*
 * To use, add:
 .col-xs-6.col-md-4
   .thumbnail
     .polygon-each-img-wrap
       = image_tag 'team/square_image.jpg', class: 'polygon-clip-hexagon'
     .caption.text-center
       %h4
         %b Name
       %h5= link_to '@username', 'https://github.com/username'
 * to contributors.html.haml
**/

.clip-svg {
  width: 0;
  height: 0;
}

.polygon-each-img-wrap {
  img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.polygon-clip-hexagon {
  -webkit-clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
  clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
}

.row.team:after {
  clear: both;
}
