@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);

@import "compass/css3";
@import "normalize";
@import "code";

$header-color: #346b8c;
$subhead-color: #0e3f54;
$link-color: #0e3f54;

@mixin flexbox($direction, $align: center) {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: $direction;
  -moz-box-orient: $direction;
  -webkit-box-align: $align;
  -moz-box-align: $align;
}

@mixin distribute-children($distribute) {
  -webkit-box-pack: $distribute;
  -moz-box-pack: $distribute;
}

@mixin liquid($size: 1) {
  -webkit-box-flex: $size;
  -moz-box-flex: $size;
}

@mixin bundler-link {
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid;
  }
}

@mixin button {
  padding: 8px 0;
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  background-color: #05b5e6;
  @include border-radius(5px);
  border-bottom: none;
  &:hover {
    background-color: #2a91ad;
  }
}

a {
  @include bundler-link;
  &.image {
    text-decoration: none;
    border: none;
  }
}

#standalone {
  line-height: 150%;
  h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 125%;
  }
}

html {
  width: 100%;
  background-color: #c6e7ec;
  padding-top: 10px;
  font-family: Helvetica, sans-serif;
}

code {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Source Code Pro", Monaco, monospace;
  font-size: 15px;
  font-weight: 600;
  padding: 0 2px 0 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include border-radius(3px);
}

.intro {
  width: 100%;
}

#body {
  @include flexbox(vertical, center);
  width: 100%;
}

#container {
  @include flexbox(horizontal, left);
}

#contents {
  @include flexbox(vertical, justify);
  width: 725px;
  position: relative;
  padding: 0 15px;
}

#sidebar {
  @include flexbox(vertical, right);
  width: 300px;
  margin-top: 23.5px;
  padding: 0 15px;
  text-align: left;
  .buttons {
    width: 100%;
    a {
      &:last-child {
        margin-left: 0;
      }
    }
  }
  h2 {
    font-size: 16px;
    border-bottom: none;
    margin: -5px;
  }
  ul {
    background-color: rgba(0, 0, 0, 0.1);
    @include border-radius(5px);
    list-style: none;
    padding: 10px;
  }
  li {
    padding: 5px;
  }
}

@mixin important($color) {
  background: $color;
  @include border-radius(5px);
  padding: 10px 10px;
  color: #043042;
  font-size: 18px;
  line-height: 24px;
  strong {
    color: #041f2a;
  }
}

#intro {
  @include important(rgba(255, 255, 255, 0.7));
}

#header {
  margin: 40px 0 0 0;
  height: 100%;
  clear: both;
  h1 {
    font-size: 22px;
    text-align: right;
    padding-right: 43px;
    color: $header-color;
  }
}

#footer {
  @include box-sizing(border-box);
  @include flexbox(horizontal, center);
  @include distribute-children(justify);
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  img:first-child {
    @include box-shadow(blue, 0, 0, 5px);
    margin-right: 10px;
  }
  img:nth-child(2) {
    @include box-shadow(blue, 0, 0, 5px);
  }
  .spacer {
    @include liquid;
  }
  img {
    display: block;
  }
  #navigation {
    @include flexbox(vertical, center);
    p {
      font-family: Helvetica, sans-serif;
      color: #336666;
      font-size: 16px;
      margin: 0;
      a {
        @include bundler-link;
      }
    }
  }
}

.contents {
  width: 725px;
}

.clear {
  clear: left;
}

h2 {
  font-size: 20px;
  padding: 5px;
  margin-top: 24px;
  color: $subhead-color;
  border-bottom: 3px solid #0e3f54;
  width: 100%;
  @include box-sizing("border-box");
}

.buttons {
  @include flexbox(horizontal, center);
  @include distribute-children(justify);
  a {
    @include button;
    margin: 10px;
    @include liquid;
    &:last-child {
      margin-right: 0;
    }
  }
}

.notes {
  font-size: 90%;
  line-height: 150%;
  margin-top: 15px;
  margin-bottom: 8px;
  padding-right: 4px;
  padding-left: 4px;
  color: #006666;
  &+ a {
    margin-top: 10px;
  }
  &+ pre {
    margin-top: 10px;
  }
  &+ .description {
    margin-top: 20px;
  }
}

.highlight {
  &+ .description {
    margin-top: 15px;
  }
}

.bullet {
  width: 100%;
  padding: 5px 15px 15px 15px;
  @include box-sizing("border-box");
  @include flexbox(vertical, justify);
  .description {
    width: 100%;
    margin-right: 16px;
    color: #003333;
    line-height: 24px;
    margin-bottom: 8px;
  }
  a {
    @include button;
    margin: 15px 0 0 450px;
  }
  .how {
    @include flexbox(vertical, justify);
    @include liquid;
    line-height: 24px;
  }
  pre {
    @include liquid;
    margin: 0;
  }
}

pre {
  background-color: black;
  color: #f8f8f8;
  font-size: 13px;
  font-family: Monaco, monospace;
  font-weight: 300;
  padding: 10px;
  margin: 0;
  @include border-radius(5px);
  code {
    border: none;
  }
}

.bullet:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bullet:not(:nth-of-type(1)) {
  padding-top: 15px;
}

.blog {
  font-size: 20px;
  p {
    font-size: 18px;
    line-height: 24px;
    padding: 5px 0 5px 0;
    margin: 0;
    code {
      vertical-align: top;
    }
  }
  p + p {
    padding: 20px 0 10px 0;
  }
  hr {
    border-bottom: 3px solid #0e3f54;
    border-top: none;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 22px;
    padding: 25px 0 5px 0;
    margin: 0 0 25px 0;
    border-bottom: 3px solid #0e3f54;
    code {
      vertical-align: middle;
    }
    a:hover {
      border: none;
    }
  }
  h5 {
    margin: 10px 0 5px 0;
  }
  .title {
    font-size: 32px;
    margin: 10px 0 0 0;
    padding: 0;
    border-bottom: none;
    line-height: 30px;
    a:hover {
      border: none;
    }
  }
  .subtitle {
    font-size: 18px;
    margin: 4px 0 5px 0;
    padding: 0;
    border-bottom: none;
    a:hover {
      border: none;
    }
  }
}

#credits {
  p {
    text-align: center;
    font-size: 11pt;
    color: #668493;
    a, a:visited {
      color: #2c596b;
      text-decoration: none;
    }
  }
}

#github {
  img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}

@mixin versions($left, $color) {
  position: absolute;
  top: 0;
  left: $left;
  padding: 0.4em;
  background: $color;
  @include border-bottom-right-radius(10px);
  a {
    @include bundler-link;
    padding: 0.1em 0.25em;
  }
  a.current {
    font-weight: bold;
  }
}

#prod-versions {
  @include versions(0, #b2d0d4);
  z-index: 1;
}

#command_reference {
  padding-top: 20px;
  th {
    text-align: left;
    height: 30px;
    padding-left: 5px;
  }
  td {
    vertical-align: top;
    padding: 20px 0 20px 5px;
    .cli_name {
      padding-top: 5px;
      width: 400px;
    }
    .cli_desc {
      padding-top: 10px;
      width: 400px;
    }
    .cli_option {
      margin: 5px 7px 15px 0px;
      float: left;
    }
  }
  tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  a {
    @include button;
    padding: 8px 5px 5px 5px;
    margin: 5px 0 5px 0;
    display: inline;
  }
}

.shirts {
  @extend .notes;
  text-align: center;
  a, a:visited {
    color: #05b5e6;
    text-decoration: none;
    font-weight: bold;
  }
}

.contributor {
  float: left;
  margin: 1em 0;
  text-align: center;
  width: 230px;
  &:last-child {
    padding-right: 0;
  }
  .avatar {
    width: 150px;
  }
  h3 {
    color: $subhead-color;
  }
  h4 {
    font-weight: normal;
    color: lighten($subhead-color, 5%);
    margin-top: -0.5em;
  }
}

.sponsor {
  clear: left;
  margin: 1.5em 0;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  .avatar {
    float: left;
    margin-right: 1.5em;
    width: 150px;
  }
  h3 {
    color: $subhead-color;
    margin-top: 0;
  }
  h4 {
    font-size: 80%;
    color: lighten($subhead-color, 5%);
  }
  p {
    margin-left: 150px;
    padding-left: 1.5em;
  }
}

.license {
  margin-top: 5em;
  text-align: right;
  font-size: 0.8em;
  img {
    float: left;
    margin-right: 3em;
  }
}

ul.posts li {
  list-style: none;
  font-size: 16px;
  min-height: 1.2em;
  margin-bottom: 10px;
  clear: left;
  .date {
    width: 100px;
    position: absolute;
    text-align: right;
  }
  a {
    font-weight: bold;
    float: left;
    margin-left: 120px;
  }
}
