@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic|Source+Code+Pro);

@import "compass/css3";
@import "normalize";
@import "settings";
@import "base";
@import "code";

@mixin button {
  padding: 8px 0;
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  background-color: $button-bg-color;
  @include border-radius(5px);
  border-bottom: none;
  &:hover {
    background-color: darken($button-bg-color, 5%);;
  }
}

.buttons {
  a {
    @include button;
    margin: 0 0 1em;
  }
}

.header {
  padding: 1.5em;
  text-align: center;
}

.footer {
  margin-top: 2em;
  padding: 1.5rem 1.5rem;
  // background: white;
  font-size: 0.833em;
  text-align: center;
  a {
    padding-bottom: 1px;
    border: 0;
  }
}

@mixin important($color) {
  //background: $color;
  //@include border-radius(5px);
  //padding: 10px;
  // color: #043042;
  color: white;
  font-size: 1.1em;
  //line-height: 24px;
  strong {
    color: #041f2a;
  }
  code {
    color: $subhead-color;
    border: 1px solid rgba($subhead-color, 0.5);
  }
}

#intro {
  @include important(rgba(255, 255, 255, 0.7));
}

#hero {
  background-color: $subhead-color;
  padding-top: 1.5em;
  h1 {
    font-size: 1.4em;
    font-weight: bold;
  }
}

.notes {
  font-size: 90%;
  color: rgba($subhead-color, 0.8);
  margin: 0 0 1.5em;
  background: rgba($subhead-color, 0.1);
  border: 2px solid rgba($subhead-color, 0.2);
  border-radius: $base-border-radius;
  padding: 10px;
  p {
    margin: 0;
  }
  // &+ a {
  //   margin-top: 10px;
  // }
  // &+ pre {
  //   margin-top: 10px;
  // }
}
