$larger-font-size: 18px;
$header-height: 200px;
$navbar-height: 50px;

@font-face {
  font-family: SancoaleSlab;
  font-style:  normal;
  src: url('fonts/SancoaleSlabNormRegular.otf') format("opentype");
}

@import "code.css";
@import "bootstrap-overrides";

@import "bootstrap-sprockets";
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/glyphicons";
// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/thumbnails";
@import "bootstrap/media";
@import "bootstrap/responsive-embed";
// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";

@import "navbar";
@import "docs";
@import "blog";
@import "guide";
@import "sidebar";
@import "team";
@import "footer";
@import "anchorjs";
@import "search";

.row {
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  clear: none;
}

.bg-light-blue {
  background-color: #DBEAF3;
  padding: 30px 2%;
}

.bg-dark-blue {
  background-color: #64C9EF;
  padding: 30px 2%;
}

.large-font {
  font-size: 19px;
}

.btn-margin-top {
  margin-top: 35px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 35px;
}

@media (max-width: $screen-xs-max) {
  .btn-responsive {
    font-size: 100%;
    text-align: center;
    float: none !important;
  }

  .center-on-xs {
    text-align: center;
  }
}

.content-padding {
  padding: 30px 2%;
}

.content-width-padding {
  padding: 0 2%;
}

.header-padding {
  @extend .container;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
}

.main-wrapper {
  padding-bottom: 50px;
}

.header {
  position: relative;
  height: $header-height;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5 {
  code {
    background-color: transparent;
    color: black;
  }
}

.contents {
  font-size: 17px;

  @media(min-width: $screen-lg-min) {
    font-size: 18px;
  }

  .btn {
    font-size: 17px;

    @media(min-width: $screen-lg-min) {
      font-size: 18px;
    }
  }
}
