@font-face {
  font-family: SancoaleSlab;
  font-style:  normal;
  src: url('fonts/SancoaleSlabNormRegular.otf') format("opentype");
}

@import "code.css";
@import "bootstrap-overrides";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
// Components
@import "bootstrap/component-animations";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/thumbnails";
@import "bootstrap/media";
@import "bootstrap/responsive-embed";
// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "navbar";
@import "docs";
@import "blog";
@import "guide";
@import "sidebar";

/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 150px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  padding-top: 5px;

  .row {
    background-color: #DBEAF3;
  }

  .footer-logo {
    float: right;
    max-height: $footer-height;
    padding: 5px;
  }
}
/* Sticky footer styles
-------------------------------------------------- */

.row {
  margin-left: auto;
  margin-right: auto;
}

.bg-light-blue {
  background-color: #DBEAF3;
  padding: 30px 2%;
}

.bg-dark-blue {
  background-color: #64C9EF;
  padding: 30px 2%;
}

.large-font {
  font-size: 19px;
}

.btn-margin-top {
  margin-top: 35px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 35px;
}

@media (max-width: $screen-xs-max) {
  .btn-responsive {
    font-size: 100%;
  }
}

.content-padding {
  padding: 30px 2%;
}

.header-padding {
  padding: 50px 0;
}
