%h2 bundle outdated

.contents
  .bullet
    .description
      List installed gems with newer versions available
    :code
      $ bundle outdated [GEM] [--local] [--pre] [--source] [--strict]
    .notes
      %p
        Options:
      %p
        <code>--local</code>: Do not attempt to fetch gems remotely and use the gem cache instead
      %p
        <code>--pre</code>: Check for newer pre-release gems
      %p
        <code>--source</code>: Check against a specific source
      %p
        <code>--strict</code>: Display outdated gems that match the dependency requirements.
    .description
      Outdated lists the names and versions of gems that have a newer version available
      in the given source. Calling outdated with [GEM [GEM]] will only check for newer
      versions of the given gems. By default, available prerelease gems will be ignored.
