.container.guide
  %h1
    What's New in
    = current_visible_version

  %p
    The
    = link_to 'Bundler 2.0 announcement', '/blog/2019/01/03/announcing-bundler-2.html'
    includes context and a more detailed explanation of the changes in this version. This is a summary of the biggest changes. As always, a detailed list of every change is provided in
    #{link_to "the changelog", "https://github.com/rubygems/bundler/blob/2-0-stable/CHANGELOG.md"}.

  %h3 Breaking changes
  .contents
    .bullet
      .description
        %p
          This release focuses on removing offical support of versions of Ruby and RubyGems that have reached their end of life, with a few other small breaking changes.
        %ul
          %li
            Removed support for Ruby &lt; 2.3
          %li
            Remove support for RubyGems &lt; 3.0.0
          %li
            Changed the <code>github: &quot;some/repo&quot;</code>  gem source to use the <code>https</code> schema by default
          %li
            Errors/warnings will now print to <code>STDERR</code>
          %li
            Bundler now auto-switches between version 1 and 2 based on the Lockfile
