%h2 bundle help

.contents
  .bullet
    .description
      Displays detailed help for each subcommand on your command line
    :code
      $ bundle help
    .notes
      #{ link_to 'View the same man pages here', '/v1.3/man/bundle.1.html'}