= partial "shared/whats_new"

%h2#version13 What's New in v1.3

.contents
  .bullet
    .description
      In this section, you'll find the major features introduced in the release. All the changes are documented in the Bundler 1.3 CHANGELOG.
      = link_to 'CHANGELOG', 'https://github.com/bundler/bundler/blob/1-3-stable/CHANGELOG.md'

%h2#ruby-2 Compatible with Ruby 2 and RubyGems 2

.contents
  .bullet
    .description
      Bundler 1.3 is compatible with Ruby 2.0.0 and RubyGems 2.0.0. The way of the future!

%h2#rails-4 Compatible with Rails 4

.contents
  .bullet
    .description
      Bundler 1.3 provides the <code>binstubs</code> command, which is used by Rails 4 to create executables that will run inside the context of your Rails app. For example, <code>bundle binstubs rspec-core</code> will create <code>bin/rspec</code> that you can run directly without needing <code>bundle exec</code>.

%h2#resolver Install and update speed improvements

.contents
  .bullet
    .description
      Installing a Gemfile with no lock or running <code>bundle update</code> used to be extremely slow in certain cases. In our testing, all of those cases now complete within a few seconds. In some cases, the install or update completes 150 times faster!


%h2#signing Support for signed gems

.contents
  .bullet
    .description
      Bundler now supports signed gems! <code>bundle install --trust-policy</code> takes the same arguments as <code>gem install --trust-policy</code> does.
