%link{href: "/images/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"}/
%link{href: "/images/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
%link{href: "/images/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
%link{href: "/manifest.json", rel: "manifest"}/
%link{color: "#50bced", href: "/images/safari-pinned-tab.svg", rel: "mask-icon"}/
%meta{content: "bundler.io", name: "apple-mobile-web-app-title"}/
%meta{content: "bundler.io", name: "application-name"}/
%meta{content: "#ffffff", name: "theme-color"}/
