.row
  .container.text-center
    #ruby-together-cta
      .large-font
        Bundler is maintained by <a href="https://rubytogether.org/">Ruby Together</a>, a grassroots initiative committed to supporting the critical Ruby infrastructure you rely on. Contribute today <a href="https://rubytogether.org/developers">as an individual</a> or even better, <a href="https://rubytogether.org/companies">as a company</a>, and ensure that Bundler, RubyGems, and other shared tooling is around for years to come.
    %ul.nav.navbar-nav
      %li= link_to t('navbar.docs'), "/docs.html"
      %li= link_to t('navbar.team'), "/contributors.html"
      %li= link_to t('navbar.blog'), "/blog"
      %li= link_to t('navbar.repository'), "https://github.com/bundler/bundler"
