.row
  .container.text-center
    %ul.nav.navbar-nav
      %li= link_to t('navbar.docs'), "/docs.html"
      %li= link_to t('navbar.team'), "/contributors.html"
      %li= link_to t('navbar.blog'), "/blog"
      %li= link_to t('navbar.repository'), "https://github.com/rubygems/rubygems/tree/master/bundler"
