~ wrap_layout :base do
  = partial 'partials/blog_header'
  .container
    .row
      .col-md-12.col-lg-10.col-lg-offset-1
        .contents.blog
          %h2.title
            = link_to current_article.title, current_article.url
          .subtitle
            by
            = link_to current_article.data.author, current_article.data.author_url, :target => '_blank'
            on
            %time
              = current_article.date.strftime('%b %e %Y')
          .blog-content
            ~ yield
