- if /v(.*?)\/(man|bundle_(.*?))\//.match(current_page.destination_path)
  - content_for(:canonical, commands_toplevel_path(current_page.destination_path))

~ wrap_layout :base do
  .row.bg-light-blue.header
    = image_tag '/images/docs_header_transparent_bg.png',
      srcset: '/images/docs_header_transparent_bg.png 1x, /images/docs_header_transparent_bg@2x.png 2x, /images/docs_header_transparent_bg@3x.png 3x',
      class: 'img-responsive header-padding',
      style: 'max-width: 400px;'
  .row
    .container
      #wrapper
        #sidebar-wrapper
          .sidebar-nav
            = partial 'partials/commands_sidebar'
        #page-content-wrapper.commands.contents
          ~ yield
        .clearfix

  .row
    .container
      #bottom-sidebar-wrapper.hidden-lg.hidden-md.hidden-sm
        .bottom-sidebar-nav
          = partial 'partials/commands_sidebar'
  :javascript
    $('.version-selects').change(function(e) {
      document.location.href = $(e.target).find(":selected").val();
    });
    $(document).ready(function() {
      anchors.add('#page-content-wrapper h1, #page-content-wrapper h2, #page-content-wrapper h3, ' +
        '#page-content-wrapper h4, #page-content-wrapper h5');
    });
