- v = current_page.url.scan(/v\d\.\d+/).first || current_version

~ wrap_layout :base do
  #body
    = partial 'header'
    #container
      #contents
        ~ yield
      = partial 'sidebar' if v == current_version
  = partial 'footer', locals: { v: v }
