- v = current_page.url.scan(/v\d\.\d+/).first || current_version

~ wrap_layout :base do

  = partial 'header'
  .grid
    .unit.two-thirds
      ~ yield

    .unit.one-third
      = partial 'sidebar' if v == current_version

  = partial 'footer', locals: { v: v }
