- v = current_page.url.scan(/v\d\.\d+/).first || current_version

~ wrap_layout :base do
  .site-content.unit.two-thirds
    ~ yield

  .sidebar-wrapper.unit.one-third
    = partial 'sidebar' if v == current_version

