- v = current_page.url.scan(/v\d\.\d+/).first || current_version

~ wrap_layout :base do
  .row.bg-light-blue.header
    = image_tag '/images/docs_header_transparent_bg.png',
      srcset: '/images/docs_header_transparent_bg.png 1x, /images/docs_header_transparent_bg@2x.png 2x, /images/docs_header_transparent_bg@3x.png 3x',
      class: 'img-responsive header-padding',
      style: 'max-width: 400px;'
  .row
    #guide-container.container
      #wrapper
        #sidebar-wrapper
          .sidebar-nav
            %h4 Guides
            %ul
              - guides.each do |page|
                %li{class: current_guide?(page[:filename])}
                  = link_to_guide(page)
                %li.separator
                  %hr
        #page-content-wrapper.guide.contents
          %a.btn.btn-primary.btn-sm.visible-xs-inline#menu-toggle{href: '#'}
            <- Toggle Menu
          ~ yield

  :javascript
    $(document).ready(function() {
      anchors.add();
    });
