.bg-light-blue.header
  = image_tag '/images/blog_header_transparent_bg.png',
    srcset: '/images/blog_header_transparent_bg.png 1x, /images/blog_header_transparent_bg@2x.png 2x, /images/blog_header_transparent_bg@3x.png 3x',
    class: 'img-fluid header-padding',
    style: 'max-width: 350px; padding-top: 5px; width: 64%;'
