%header#header(role="banner")
  .grid
    .unit.whole#header-logo.align-center
      %h1
        %a(href="/")
          %span.text-logo.sr-only Bundler
          %img(src="/images/gembundler.png" width="725" alt="The best way to manage your application's dependencies")
