= partial('v1.2/shared/message')
%h2 bundle version

.contents
  .bullet
    .description
      Prints the bundler's version information
    :highlight_plain
      $ bundle version

  .bullet
    .description
      (Example with default options TBD)
