%h2 bundle cache

.contents
  .bullet
    .description
      Cache all the gems to vendor/cache
    :highlight_plain
      $ bundle cache [--no-prune] [--all]
    .notes
      %p
        Options:
      %p
        <code>--no-prune</code>: Don't remove stale gems from the cache.
      %p
        <code>--all</code>: cache <code>:git</code>, <code>:path</code>, and <code>.gem</code> dependencies. Once used, the <code>--all</code> option will be remembered.
    .description
      (Detailed description TBD)

  .bullet
    .description
      (Example with default options TBD)

  .bullet#no-prune
    .description
      (Example with --no-prune TBD)

  .bullet#all
    .description
      (Example with --all TBD)
