= partial('v1.2/shared/message')
%h2 bundle gem

.contents
  .bullet
    .description
      Creates a skeleton for creating a rubygem
    :highlight_plain
      $ bundle gem GEM [--bin or -b]
    .notes
      %p
        Options:
      %p
        <code>--bin or -b</code>: Generate a binary for your library.
    .description
      (Detailed description TBD)

  .bullet
    .description
      (Example with default options TBD)

  .bullet#bin
    .description
      (Example with --bin TBD)
