= partial('v1.1/shared/message')
%h2 bundle clean

.contents
  .bullet
    .description
      Cleans up unused gems in your bundler directory
    :highlight_plain
      $ bundle clean [--force]
    .notes
      %p
        Options:
      %p
        <code>--force</code>: forces clean even if --path is set
    .description
      (Detailed description TBD)

  .bullet
    .description
      (Example with default options TBD)

  .bullet#force
    .description
      (Example with --force TBD)
