= partial('v1.1/shared/message')
%h2 bundle console

.contents
  .bullet
    .description
      Opens an IRB session with the bundle pre-loaded
    :highlight_plain
      $ bundle console [GROUP]
    .description
      (Detailed description TBD)

  .bullet
    .description
      (Example with default options TBD)
