%h2 bundle gem

.contents
  .bullet
    .description
      Creates a skeleton for creating a rubygem
    :code
      $ bundle gem GEM [--bin or -b]
    .notes
      %p
        Options:
      %p
        <code>--bin or -b</code>: Generate a binary for your library.
