%h2 bundle install

.contents
  .bullet
    .description
      Make sure all dependencies in your Gemfile are
      available to your application.
    .how
      :highlight_plain
        $ bundle install
      .notes
        Gems may be
        installed to system gems or BUNDLE_PATH (defaults
        to ~/.bundle). Git repos will be checked out
        to BUNDLE_PATH.

  .bullet
    .description
      Install your dependencies to a different location
      than BUNDLE_PATH.
      = link("Learn More: Bundler.setup", "bundler_setup.html")
      = link("Learn More: Bundler.require", "groups.html")
    .how
      :highlight_plain
        $ bundle install vendor/bundle
      .notes
        Further bundle commands or
        calls to Bundler.setup or Bundler.require will
        remember this location

  .bullet
    .description
      Install all dependencies, except those in groups
      you explicitly excluded
      = link("Learn More: Groups", "groups.html")
    :highlight_plain
      $ bundle install --without development test

  .bullet
    .description
      Install all gems to BUNDLE_PATH, but ignore
      gems that are installed in your system. This
      is especially useful if you're trying to
      package up an application with all dependencies
      unpacked.
    .how
      :highlight_plain
        $bundle install vendor/bundle --without-shared-gems
      .notes
        By default, bundler will not try to reinstall
        gems that are already installed in your system.
        By specifying --without-shared-gems, you are
        telling bundler to install all gems into the
        BUNDLE_PATH, regardless of whether they are
        already installed in your system