%h2 Bundler compatibility with Rubygems

.contents
  .bullet
    .description
      Bundler <b>1.0</b> requires a minimum Rubygems version of <b>1.3.6</b>.

  .bullet
    .description
      Rubygems 1.3.7
    .notes
      Bundler is unable to find prerelease gems cached via the <code>bundle pack</code> command.

  .bullet
    .description
      Rubygems 1.4.2
    .notes
      No known issues.

  .bullet
    .description
      Rubygems 1.5.3
    .notes
      Requires Bundler version 1.0.10. No known issues.

  .bullet
    .description
      Rubygems 1.6.2
    .notes
      Requires Bundler version 1.0.11. No known issues.

  .bullet
    .description
      Rubygems 1.7.2
    .notes
      Requires Bundler version 1.0.11. No known issues.

  .bullet
    .description
      Rubygems 1.8.3
    .notes
      %p Requires Bundler version 1.0.14. No known issues.
      %p
        Users with Rubygems 1.8.0-1.8.2 may encounter exceptions running <code>rake</code>.
        They should use <code>bundle exec rake</code> instead.

  .bullet
    .description
      Rubygems 1.8.10
    .notes
      %p Requires Bundler version 1.0.19. No known issues.
