%h2 Bundler compatibility with Rubygems

.contents
  .bullet
    .description
      Bundler <b>1.0</b> requires a minimum Rubygems version of <b>1.3.6</b>.

  .bullet
    .description
      Rubygems 1.3.7
    .notes
      Bundler is unable to find prerelease gems cached via the `bundle pack` command.

  .bullet
    .description
      Rubygems 1.4.2
    .notes
      No known issues.

  .bullet
    .description
      Rubygems 1.5.3
    .notes
      Minimum Bundler version 1.0.10. No known issues.

  .bullet
    .description
      Rubygems 1.6.2
    .notes
      Minimum Bundler version 1.0.11. No known issues.

  .bullet
    .description
      Rubygems 1.7.0
    .notes
      Minimum Bundler version 1.0.11. No known issues.
