%h2 Using Groups

.contents
  .bullet
    .description
      Grouping your dependencies allows you
      to perform operations on the entire
      group.
    :highlight_ruby
      # These gems are in the :default group
      gem "nokogiri"
      gem "sinatra"

      group :development do
        gem "wirble"
      end

      group :test do
        gem "rspec"
        gem "faker"
      end

  .bullet
    .description
      Install all dependencies, except
      those in specified groups
    :highlight_plain
      $ bundle install --without test

  .bullet
    .description
      Require the gems in particular groups,
      noting that gems outside of a named group
      are in the :default group
    :highlight_ruby
      Bundler.require(:default, :development)

  .bullet
    .description
      Require the default gems, plus the gems
      in a group named the same as the current
      Rails environment
    :highlight_ruby
      Bundler.require(:default, Rails.env)