@import compass/css3/box_shadow.sass
@import compass/css3/text_shadow.sass
@import compass/css3/border_radius.sass
@import compass/css3/box_sizing.sass

@mixin flexbox($direction, $align: center)
  display: -webkit-box
  display: -moz-box
  -webkit-box-orient: $direction
  -moz-box-orient: $direction
  -webkit-box-align: $align
  -moz-box-align: $align

@mixin distribute-children($distribute)
  -webkit-box-pack: $distribute
  -moz-box-pack: $distribute

@mixin liquid($size: 1)
  -webkit-box-flex: $size
  -moz-box-flex: $size

html
  width: 100%
  background-color: #eeffff
  font-family: Helvetica, sans-serif

img
  border: 0

#body
  @include flexbox(vertical, center)
  width: 100%

#contents
  @include flexbox(vertical, justify)

#header
  h1
    font-size: 26px
    text-align: right
    padding-right: 44px
    color: #346B8C

#footer
  @include box-sizing(border-box)
  @include flexbox(horizontal, center)
  @include distribute-children(justify)
  padding: 10px 20px
  background-color: #bcc
  width: 100%
  margin-top: 30px

  img:first-child
    @include box-shadow(blue, 0, 0, 5px)

  .spacer
    @include liquid

  img
    display: block

  p
    font-family: Helvetica, sans-serif
    color: #366
    font-size: 24px
    a
      text-decoration: none
      color: #699

.contents
  width: 850px

h2
  @include text-shadow
  padding: 5px
  margin-top: 30px
  color: #999
  border-bottom: 3px solid #999
  width: 100%

.bullet
  @include flexbox(horizontal, start)
  width: 100%
  padding: 10px

  .description
    @include text-shadow
    width: 300px
    margin-right: 20px
    color: #033
    line-height: 20px

    a
      padding-top: 10px
      padding-bottom: 5px
      padding-right: 30px
      text-decoration: none
      display: block
      color: #060
      text-align: center

  .how
    @include flexbox(vertical, justify)
    @include liquid
    .notes
      margin-top: 10px
      color: #799

  pre
    @include border-radius(5px)
    @include liquid
    margin: 0

.bullet:not(:nth-of-type(1))
  border-top: 1px solid #cee

.bullet:not(:nth-last-of-type(1))
  border-bottom: 1px solid #9cc