@import blueprint/grid.sass
@import compass/css3/box_shadow.sass
@import compass/css3/text_shadow.sass
@import compass/css3/border_radius.sass
@import compass/css3/box_sizing.sass

=flexbox($direction, $align: center)
  display: -webkit-box
  display: -moz-box
  -webkit-box-orient: $direction
  -moz-box-orient: $direction
  -webkit-box-align: $align
  -moz-box-align: $align

=distribute-children($distribute)
  -webkit-box-pack: $distribute
  -moz-box-pack: $distribute

=liquid($size: 1)
  -webkit-box-flex: $size
  -moz-box-flex: $size

$width: 850px

html
  width: 100%
  background-color: #eeffff
  font-family: Helvetica, sans-serif

img
  border: 0

#body
  +flexbox(vertical, center)
  width: 100%

#contents
  +flexbox(vertical, justify)

#header
  h1
    font-size: 26px
    text-align: right
    padding-right: 44px
    color: #346B8C

#footer
  padding: 10px 20px
  background-color: #bcc
  width: 100%
  margin-top: 30px
  +box-sizing(border-box)
  +flexbox(horizontal, center)
  +distribute-children(justify)

  img:first-child
    +box-shadow(blue, 0, 0, 5px)

  .spacer
    +liquid

  img
    display: block

  p
    font-family: Helvetica, sans-serif
    color: #366
    font-size: 24px
    a
      text-decoration: none
      color: #699

.contents
  width: $width

h2
  padding: 5px
  margin-top: 30px
  +text-shadow
  color: #999
  border-bottom: 3px solid #999
  width: 100%

.bullet
  width: 100%
  +flexbox(horizontal, start)
  padding: 10px

  .description
    width: 300px
    margin-right: 20px
    color: #033
    line-height: 20px
    +text-shadow

    a
      padding-top: 10px
      padding-bottom: 5px
      padding-right: 30px
      text-decoration: none
      display: block
      color: #060
      text-align: center

  .how
    +flexbox(vertical, justify)
    +liquid
    .notes
      margin-top: 10px
      color: #799

  pre
    margin: 0
    +border-radius(5px)
    +liquid

.bullet:not(:nth-of-type(1))
  border-top: 1px solid #cee

.bullet:not(:nth-last-of-type(1))
  border-bottom: 1px solid #9cc