#v11-message
  We're currently working on updating this page for Bundler 1.1. If you think something is incorrect, missing or
  if you have some other suggestion for how to improve the docs, please
  = link_to 'open a new github issue', 'https://github.com/carlhuda/bundler/issues' + '.'
  Thanks!
%p
