.blog {
  .subtitle {
    font-style: italic;
    margin-bottom: 45px;
  }

  h2, h3, h4 {
    font-weight: bold;
    
    a {
      color: #06456A;
    }
  }

  h1 {
    font-weight: bold;
    color: #06456A;
  }

  h4 {
    margin-top: 20px;
  }

  .posts {
    list-style-type: none;
    padding-left: 5px;

    a {
      color: #06456A;
      font-weight: bold;
      cursor: hand;
    }
  }
}

.date {
  width: 5rem;
}
