/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 4.6875rem;
$footer-color: #55BCEB;

html {
  position: relative;
  min-height: 100%;
}

.footer {
  background-color: $footer-color;

  .footer-logo {
    float: right;
    max-height: $footer-height;
    padding: 5px;
  }

  ul {
    height: $footer-height;
    display: inline-block;
    float: none !important;
    vertical-align: top;
    margin-bottom: 0;
    text-align: center;

    li {
      height: 100%;
      display: inline-block;

      a {
        line-height: $footer-height - $nav-link-padding-y * 2;
        color: black;
      }

      a:hover, a:active, a:focus {
        background-color: inherit;
      }
    }
  }
}
/* Sticky footer styles
-------------------------------------------------- */
