$larger-font-size: 18px;
$header-height: 200px;
$navbar-height: 50px;

@font-face {
  font-family: SancoaleSlab;
  font-style:  normal;
  src: url('fonts/SancoaleSlabNormRegular.otf') format("opentype");
  font-display: swap;
}

// Boostrap 5 customization
// Document: https://getbootstrap.com/docs/5.2/customize/sass/#importing
// List of SCSS to load: https://github.com/twbs/bootstrap/blob/v5.1.3/scss/bootstrap.scss
@import "~bootstrap/scss/functions";

pre {
  color: #fff;
  // https://github.com/twbs/bootstrap/pull/28966
  background-color: #373737;
  border-color: #373737;
}
$pre-color: #fff;

@import "code.css";
@import "bootstrap-variable-overrides";

$icon-font-path: '~bootstrap/assets/fonts/bootstrap/';

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
// Note: tables, dropdown, button-group, accordion, breadcrumb, pagination,
// badge, alert, progress, list-group, close, toasts, modal, tooltip, carousel,
// spinners, offcanvas, and placeholders were excluded as they are not used as
// of Bootstrap 5.1.3
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/popover";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

@import "bootstrap-class-overrides";
// end of Boostrap 5 customization

@import "navbar";
@import "docs";
@import "blog";
@import "guide";
@import "sidebar";
@import "team";
@import "footer";
@import "anchorjs";
@import "search";

// More various utilities extended from Bootstrap 5.1
@import "opacity";

.row:after {
  clear: none;
}

.bg-light-blue {
  background-color: #DBEAF3;
  padding: 30px 2%;
}

.bg-dark-blue {
  background-color: #64C9EF;
  padding: 30px 2%;
}

.large-font {
  font-size: 19px;
}

.content-padding {
  padding: 30px 2%;
}

.content-width-padding {
  padding: 0 2%;
}

.header-padding {
  @extend .container;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
}

.header {
  position: relative;
  height: $header-height;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5 {
  code {
    background-color: transparent;
    color: black;
  }
}

p {
  margin-bottom: 15px;
}

.contents {
  font-size: 17px;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }

  .btn {
    font-size: 17px;
    // TODO: remove these two lines
    margin-top: 10px;
    margin-bottom: 35px;

    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
  }

  .edit-on-github {
    a {
      font-weight: bold;
    }
  }
}
