@font-face {
  font-family: SancoaleSlab;
  font-style:  normal;
  src: url('fonts/SancoaleSlabNormRegular.otf') format("opentype");
  font-display: swap;
}

// Boostrap 5 customization
// Document: https://getbootstrap.com/docs/5.3/customize/sass/#importing
// List of SCSS to load: https://github.com/twbs/bootstrap/blob/v5.3.3/scss/bootstrap.scss
@import "~bootstrap/scss/functions";

pre {
  color: #fff;
  // https://github.com/twbs/bootstrap/pull/28966
  background-color: #373737;
  border-color: #373737;
}
$pre-color: #fff;

@import "code";
@import "bootstrap-variable-overrides";

$icon-font-path: '~bootstrap/assets/fonts/bootstrap/';

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
// Note: tables, dropdown, button-group, accordion, breadcrumb, pagination,
// badge, alert, progress, list-group, close, toasts, modal, tooltip, carousel,
// spinners, offcanvas, and placeholders were excluded as they are not used as
// of Bootstrap 5.3.3
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/popover";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

@import "bootstrap-class-overrides";
// end of Boostrap 5 customization

@import "navbar";
@import "footer";

.bg-light-blue {
  background-color: #DBEAF3;
  padding: 30px 2%;
}

.bg-dark-blue {
  background-color: #64C9EF;
  padding: 30px 2%;
}

.large-font {
  font-size: 19px;
}

p {
  margin-bottom: 15px;
}
