$larger-font-size: 18px;
$header-height: 200px;
$navbar-height: 50px;

@font-face {
  font-family: SancoaleSlab;
  font-style:  normal;
  src: url('fonts/SancoaleSlabNormRegular.otf') format("opentype");
}

@import "~bootstrap/scss/functions";

pre {
  color: #fff;
  // https://github.com/twbs/bootstrap/pull/28966
  background-color: #373737;
  border-color: #373737;
}
$pre-color: #fff;

@import "code.css";
@import "bootstrap-overrides";

$icon-font-path: '~bootstrap/assets/fonts/bootstrap/';

// Core variables and mixins
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Reset and dependencies
@import "~bootstrap/scss/reboot";
// Core CSS
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// Components
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/images";
// Utility classes
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";

@import "navbar";
@import "docs";
@import "blog";
@import "guide";
@import "sidebar";
@import "team";
@import "footer";
@import "anchorjs";
@import "search";

// Utilities from Bootstrap 5.x
@import "opacity";

.row:after {
  clear: none;
}

.bg-light-blue {
  background-color: #DBEAF3;
  padding: 30px 2%;
}

.bg-dark-blue {
  background-color: #64C9EF;
  padding: 30px 2%;
}

.large-font {
  font-size: 19px;
}

.btn-margin-top {
  margin-top: 35px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 35px;
}

@include media-breakpoint-down(sm) {
  .btn-responsive {
    font-size: 100%;
    text-align: center;
    float: none !important;
  }

  .center-on-xs {
    text-align: center;
  }
}

.content-padding {
  padding: 30px 2%;
}

.content-width-padding {
  padding: 0 2%;
}

.header-padding {
  @extend .container;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
}

.header {
  position: relative;
  height: $header-height;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5 {
  code {
    background-color: transparent;
    color: black;
  }
}

p {
  margin-bottom: 15px;
}

.contents {
  font-size: 17px;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }

  .btn {
    font-size: 17px;

    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
  }

  .edit-on-github {
    a {
      font-weight: bold;
    }
  }
}
