%h2 bundle install

.contents
  .bullet
    .description
      Make sure all dependencies in your Gemfile are
      available to your application.
    .how
      :code
        $ bundle install
      .notes
        Gems may be installed to system gems or <code>BUNDLE_PATH</code>
        (which defaults to <code>~/.bundle</code>). Git repos will
        be checked out into to <code>BUNDLE_PATH</code> as well.

  .bullet
    .description
      Install your dependencies to a location other than
      <code>BUNDLE_PATH</code>, in this case
      <code>vendor/bundle</code>.
    .how
      :code
        $ bundle install vendor/bundle
      .notes
        Further bundle commands or
        calls to Bundler.setup or Bundler.require will
        remember this location
      = link_to 'Learn More: Bundler.setup', 'bundler_setup.html'
      = link_to 'Learn More: Bundler.require', 'groups.html'

  .bullet
    .description
      Install all dependencies except those in groups
      that are explicitly excluded.
    :code
      $ bundle install --without development test
    = link_to 'Learn More: Groups', 'groups.html'

  .bullet
    .description
      Install all gems to <code>BUNDLE_PATH</code>, regardless of
      whether those gems are installed in your system.
      Bundler will not install gems already in system gems
      by default, so this is especially useful if you're
      trying to package up an application with all
      dependencies unpacked.
    .how
      :code
        $ bundle install --disable-shared-gems

  .bullet
    .description
      Install all gems into <code>vendor/bundle</code>,
      even gems that are already installed to your system
      and would normally be used from there instead of installed.
    .how
      :code
        $ bundle install vendor/bundle --disable-shared-gems
