%h2 bundle lock

.contents
  .bullet
    .description
      Calculate the entire dependency tree and store the results in Gemfile.lock. Check Gemfile.lock into version control
    :code
      $ bundle lock
      $ git add Gemfile.lock

  .bullet
    .description
      After you have locked your gems, you've updated your Gemfile and want to update Gemfile.lock
    :code
      $ bundle lock

  .bullet
    .description
      After you have locked your gems, you've updated your Gemfile and want to install the new gems
    :code
      $ bundle install --relock
