%h2 Bundler.setup

.contents
  .bullet
    .description
      Configure the load path so all dependencies in your Gemfile can be required
    :code
      # lang: ruby
      require 'rubygems'
      require 'bundler'
      Bundler.setup
      require 'nokogiri'

  .bullet
    .description
      Only add gems from specified groups to the load path. If you want the gems in the default group, make sure to include it
    :code
      # lang: ruby
      require 'rubygems'
      require 'bundler'
      Bundler.setup(:default, :ci)
      require 'nokogiri'
    = link_to 'Learn More: Groups', 'groups.html'
