%h2 Using Groups

.contents
  .bullet
    .description
      Grouping your dependencies allows you to perform operations on the entire
      group.
    :code
      # lang: ruby
      # These gems are in the :default group
      gem 'nokogiri'
      gem 'sinatra'

      gem 'wirble', :group => :development

      group :test do
        gem 'rspec'
        gem 'faker'
      end

  .bullet
    .description
      Install all dependencies, except
      those in specified groups
    :code
      $ bundle install --without test

  .bullet
    .description
      Require the gems in particular groups,
      noting that gems outside of a named group
      are in the :default group
    :code
      # lang: ruby
      Bundler.require(:default, :development)

  .bullet
    .description
      Require the default gems, plus the gems
      in a group named the same as the current
      Rails environment
    :code
      # lang: ruby
      Bundler.require(:default, Rails.env)

  .bullet
    .description
      Restrict the groups of gems that you
      want to add to the load path. Only gems
      in these groups will be require'able
    :code
      # lang: ruby
      require 'rubygems'
      require 'bundler'
      Bundler.setup(:default, :ci)
      require 'nokogiri'
    = link_to 'Learn More: Bundler.setup', 'bundler_setup.html'
