-# TODO maybe add header?

.container.guide
  = partial "shared/whats_new"

  %h2#version112 What's New in v1.12

  %h3 New index format

  .contents
    .bullet
      .description
        %p
          Bundler now fetches gem metadata using <a href="http://andre.arko.net/2014/03/28/the-new-rubygems-index-format/" target="_blank">the new index format</a> speeding up <code>install</code> significantly. In addition to the speed increases provided by the format itself, we’re also serving the new index directly from the Fastly CDN. That means Bundler will be able to talk to a server located nearby, no matter where you are in the world. We expect that to make a huge difference, especially in Oceania and Africa. 🎉
  %h3 Outdated by version significance

  .contents
    .bullet
      .description
        %p
          It is now possible to run <code>bundle outdated</code> with the flags <code>--major</code>, <code>--minor</code>, and <code>--patch</code>. Using those flags, you can limit Bundler to only show you new versions that are both allowed by your <code>Gemfile</code> and also meet the criteria of only changing the major, minor, or patch version of the gem. You can combine them to get only minor and patch updates, or even only major and patch updates (but I have no idea why you would want to do that)

  %h3 Ruby version locking

  .contents
    .bullet
      .description
        %p
          It is now possible to use regular gem version requirements, like <code>ruby "~> 2.3"</code>, in your `Gemfile`. Bundler will save your exact Ruby version (e.g. "2.3.1") into your <code>Gemfile.lock</code>. You can update the ruby version by running `bundle update --ruby`, and that will update the lock to match your current version of Ruby the same way Bundler currently updates gem versions.

  .contents
    .bullet
      .description
        Bundler 1.12 also includes:
        %ul
          %li running <code>bundle exec</code> now about 0.25 seconds faster
          %li support for Ruby 2.4
          %li support for RubyGems 2.6.3
          %li support for frozen string literals
          %li many, many, many bugfixes
        = link_to 'Full 1.12 changelog', 'https://github.com/bundler/bundler/blob/1-12-stable/CHANGELOG.md', class: 'btn btn-primary'
