%h2 bundle config

.contents
  .bullet
    .description
      Retrieve or set a configuration value
    :code
      $ bundle config NAME [VALUE]
    .description
      Retrieves or sets a configuration value. If only parameter is provided,
      retrieve the value. If two parameters are provided, replace the existing
      value with the newly provided one.

      By default, setting a configuration value sets it for all projects on the
      machine.

      If a global setting is superceded by local configuration, this command
      will show the current value, as well as any superceded values and where
      they were specified.
