= partial 'v1.1/shared/message'
%h2 bundle open

.contents
  .bullet
    .description
      Opens the source directory of the given bundled gem
    :highlight_plain
      $ bundle open GEM
    .description
      (Detailed description TBD)

  .bullet
    .description
      (Example with default options TBD)
