%h2 bundle cache

.contents
  .bullet
    .description
      Cache all the gems to vendor/cache
    :code
      $ bundle cache [--no-prune]
    .notes
      %p
        Options:
      %p
        <code>--no-prune</code>: Don't remove stale gems from the cache.
