%h2 bundle update

.contents
  .bullet
    .description
      Update the current environment
    :code
      $ bundle update [GEM] [--local] [--source=SOURCE]
    .notes
      %p
        Options:
      %p
        <code>--local</code>: Do not attempt to fetch gems remotely and use the gem cache instead
      %p
        <code>--source</code>: Update a specific source (and all gems associated with it)
    .description
      Update will install the newest versions of the gems listed in the Gemfile. Use
      update when you have changed the Gemfile, or if you want to get the newest
      possible versions of the gems in the bundle.
