%h2 bundle viz

.contents
  .bullet
    .description
      Generates a visual dependency graph
    :code
      $ bundle viz [--file=FILE] [--format=FORMAT] [--requirements] [--version]
    .notes
      %p
        Options:
      %p
        <code>--file or -f</code>: The name to use for the generated file. see format option
      %p
        <code>--format or -F</code>: This is output format option. Supported format is png, jpg, svg, dot ...
      %p
        <code>--requirements or -r</code>: Set to show the version of each required dependency.
      %p
        <code>--version or -v</code>: Set to show each gem version.
    .description
      Viz generates a PNG file of the current Gemfile as a dependency graph.
      Viz requires the ruby-graphviz gem (and its dependencies).
      The associated gems must also be installed via 'bundle install'.
