%h2 bundle exec

.contents
  .bullet
    .description
      Run the command in context of the bundle
    :code
      $ bundle exec
    .description
      Exec runs a command, providing it access to the gems in the bundle. While
      using bundle exec you can require and call the bundled gems as if they
      were installed into the systemwide Rubygems repository.
