%h2 bundle package

.contents
  .bullet
    .description
      Locks and then caches all of the gems into vendor/cache
    :code
      $ bundle package [--no-prune]
    .notes
      %p
        Options:
      %p
        <code>--no-prune</code>: Don't remove stale gems from the cache.
    .description
      The package command will copy the .gem files for every gem in the bundle into the
      directory ./vendor/cache. If you then check that directory into your source
      control repository, others who check out your source will be able to install the
      bundle without having to download any additional gems.
