---
title: Blog | Official blog for Bundler
---
= partial 'partials/blog_header'

.container
  .row.my-5
    .col-md-12.col-xl-10.offset-xl-1
      .contents.blog
        %h1
          The Bundler blog

        - blog.articles.group_by { |a| a.date.strftime("%Y") }.each do |year, articles|
          %h2= year
          %ul.posts
            - articles.each do |article|
              %li.ms-2.ms-lg-4
                .date.h3.d-block.d-md-inline-block.text-md-end.me-lg-4.me-2= article.date.to_date.strftime("%b %e")
                = link_to article.title, article.url
