!!!
%html
  %head
    %title Bundler: The best way to manage Ruby applications
    = stylesheets
  %body
    #body
      #contents
        #header
          %a{:href => "index.html"}
            %img{:src => "images/bundler.png", :width => "850"}/
          %h1 The best way to manage Ruby applications
        = yield